
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
		<a href="testing/reset">Reset Database</a><br />
		<a href="testing/selftest">Run a self test</a><br />
		<a href="testing/sqlscripts">List SQL scripts</a><br />
		<a href="testing/users">List users in database</a><br />
		<a href="testing/sendemail">Send a test email</a><br />
    </div>
</body>
</html>
