@model BibleTree.Models.BadgeType

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var imagePath = Url.Content("~/browser_components/tree.png");}
<script src="~/Scripts/user.home.js"></script>
<link href="~/Content/tabs.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/badge.selection.js"></script>
<script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

<script>
    function finishedBadgeSelection() {
        if (last_selection == 1) {
            editBadge(badge_selection);
        }
    }

</script>


<script src="~/Scripts/student.selection.js"></script>

<script>

    function finishedStudentSelection() {
        // Do something after user is selected
        alert('You clicked on user id: ' + student_selection);
    }

</script>

<div id="modal">

</div>

<style>
    .bumpDown {
        margin-top: 80px;
    }
    .tabbing {
        padding: 0px;
        border: none;
        background: none;
    }
</style>

<div class="container bumpDown">
    <div class="row">
        <div class="col-sm-10">
            <button class="tabbing col-sm-2" id="buttonBadgeTree" onclick="badgeTree()">Badge Tree</button>
            <button class="tabbing col-sm-2" id="buttonListBadges" onclick="listStudentBadges()">List of Badges</button>
            <button class="tabbing col-sm-2" id="buttonSendBadge" onclick="sendBadge()">Send a Badge</button>
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>

    <div class="row">
        <div id="partial_view" class="col-sm-10 center-block">
        </div>
    </div>
</div>