@model BibleTree.Models.BadgeType

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/badge.selection.js"></script>
<script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

<script>
        function finishedBadgeSelection() {
            // Do something after badge is selected
            alert('You clicked on badge id: ' + badge_selection);
        }

</script>


<script src="~/Scripts/student.selection.js"></script>

<script>

    function finishedStudentSelection() {
        // Do something after user is selected
        alert('You clicked on user id: ' + student_selection);
    }

</script>

<div id="modal">

</div>

<style>
    .bumpDown {
        margin-top: 80px;
    }
    .tabbing {
        padding: 0px;
        border: none;
        background: none;
    }
</style>

<div class="container bumpDown">
    <div class="row">
        <div class="col-sm-6">
            <button class="tabbing col-sm-3" id="button0" onclick="changeTo(0)">Badge Tree</button>
            <button class="tabbing col-sm-3" id="button1" onclick="changeTo(1)">Badge Create</button>
            <button class="tabbing col-sm-3" id="button2" onclick="changeTo(2)">Badge List</button>
            <button class="tabbing col-sm-3" id="button3" onclick="changeTo(3)">User List</button>
            <button class="tabbing col-sm-3" id="button4" onclick="selectStudent()">Select Student</button>
           <button class="tabbing col-sm-3" id="button5" onclick="selectBadge()">Select Badge</button>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>

    <div class="row">
        <div id="partial_view" class="col-sm-10 center-block">
        </div>
    </div>
</div>