@model BibleTree.Models.BadgeType

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/responsive-tabs.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/tabs.css" rel="stylesheet" type="text/css" />

<style>
    .bumpDown {
        margin-top: 80px;
    }

</style>

<div class="container bumpDown">
    <ul class="nav nav-tabs responsive" id="myTab">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#messages">Messages</a></li>
    </ul>

    <div class="tab-content responsive">
        <div class="tab-pane active" id="home">...content...</div>
        <div class="tab-pane" id="profile">...content...</div>
        <div class="tab-pane" id="messages">...content...</div>
    </div>
</div>

    <script type="text/javascript">
      (function($) {
          fakewaffle.responsiveTabs(['xs', 'sm']);
      })(jQuery);
    </script>