@model BibleTree.Models.BadgeInstance

@{
    ViewBag.Title = "SendBadge";
}

<script src="~/Scripts/badge.selection.js"></script>
<script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">
<script src="~/Scripts/student.selection.js"></script>

<script>

	var buttID;

	function saveButtonID(clicked_id){
		//saving the id of pressed button.
		buttID = clicked_id;
		selectStudent();
		}
        function finishedBadgeSelection() {
            // Do something after badge is selected
            alert('You clicked on badge id: ' + badge_selection);
			$('#badge_button').val(badge_selection);
        }

    function finishedStudentSelection() {
        // Do something after user is selected
        alert('You clicked on user id: ' + student_selection);
		if (buttID == "sender_button"){
		alert("ante");
		$('#sender_button').val(student_selection);
		}
		else 
			{$('#receipient_button').val(student_selection);}
    }

</script>

<div id="modal">

</div>



<h2>SendBadge</h2>



@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.sender_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               	<input type="button" class="col-sm-3" id="sender_button" value="Select Student" onclick="saveButtonID(this.id)"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.recipient_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
			   <input type="button" class="col-sm-3" id="receipient_button" value="Select Student" onclick="saveButtonID(this.id)"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.badge_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input type="button" class="col-sm-3" id="badge_button" value="Select Badge" onclick="selectBadge()"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}

